body{
	font-family: "Open Sans", sans serif;
}




#logo {
    margin-top: -30px;
    max-height: 90px;
    max-width: 170px;
}

.navbar-default {
    background: rgba(0,0,0,0.6);
    border: 0 solid;
    border-radius: 0;
}

#menu a:hover{
	color:rgba(230, 255, 0, 0.8);
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}


.navbar-left {
    margin-left: 50px;
    text-align: center;
    border: none;    
}



#menu{
	color:white;
}



.jumbotron{
	width: 100%;
	height: 100vh;
	background: url(../images/back1.jpg) no-repeat center ;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 0px;

	

}


/*#profile-pic{
	display: block;
	border: solid #4c4c4c 3px;
	border-radius: 50%;
	margin: auto;
	margin-top: 5%;
	max-width: 20%;
	
	
}*/

#name{
	font-weight: 700;
	margin: 15% 0 15% 0;
	letter-spacing: 5px;
	
}

hr{
	width: 30%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#epigrafe{

	font-size: 1.5em;
	
}

#name, #epigrafe{
	color:#fff;
	text-align: center;;
	text-shadow: 2px 4px 4px rgba(0,0,0,0.5),
				8px 8px 13px rgba(0,0,0,0.2), 
				8px 18px 23px rgba(0,0,0,0.2);
}

h2{
	margin: 2% 0 5% 0;

.background{
	height: 100vh;
}

}
#about{
	margin: 8% 0 15% 0;
	text-align: justify;
	font-size: 1.5em;
}

p{
	font-size: 70%;
	height: 100%;
	

}


#skills{
	padding-top: 2%;
}




.back{
	background-color: #ededed;
  	min-height: 350px;
}



.colored{
	font-size: 90px;
	display: block;
	width: 100%;
	height: 20vh;
	text-align: center;
	margin-bottom: 15%;


	

}


#html:hover, #css:hover, #js:hover, #boot:hover, #jq:hover, #sass:hover

 { 

	transition: all .2s ease-in-out;
 	transform: scale(1.7); 
 }





#backproject{
	min-height: 600px;
}


#projects{
	width: 100%;
	min-height: 400px;

}


#projects,
#projects > .column {
    padding: 8px;

}


.column {
    float: left;
/*    width: 33%;*/

}

#projects:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: #ededed;
    padding: 10%;
    width: 100%;
    text-align: justify;
    min-height: 50vh;
}

#project:hover {
box-shadow: 0 0 2px 2px rgba(230, 255, 0, 0.8);
}    

.btn {
	display:inline-block;
	width: 40%;

}

#btnwork1, #btnwork3{
	margin-right: 9%;
}

#btnwork2, #btnwork4{
	margin-left: 10%;
}



h3{
	text-align: center;
}

img{
	width: 100%;

}


footer{
	margin: 0;
}



.contactback{
	 background: url(../images/back1.jpg) no-repeat center ;
	background-size: cover;
	background-attachment: fixed;
 	min-height: 60px;
 	padding-bottom: 50px;
}

.centrar{
	text-align : center;
}

#footwidth{
	height: 25vh;
}

.contactsize{
	font-size: 1.5em;
}


#contact{
	margin-top: 5px;
	color:white;
	height: 100%;
	
}

a{
	color:#ededed;
	
}


.social{
	display: inline-block;
	padding: 3px 3px;
	font-size: 1em;
	width: 100%
}

.social:hover{
	color: #e6ff00;
}

.fab, .fas{
	font-size: 2em;
	margin-top: 15px;
}


.navbottom{
	  /*background-color: #333;*/
	 background-color: #3a3a3a;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    margin: 0;
}


ul{
	padding-left: 0;
}
li{
	list-style-type: none;

}

.heart{
	color: red;
	font-size: 0.9em;
}
#made{
	color: white;
	float: right;
	margin-right: 20px;
}
/*
.bottomnav {
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    width: 100%;
    height: 10vh;
    margin:0 0 0 0;
    border: none;
    

}
.bottomnav a {
    float: left;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 14px;
    height: 100%;
	text-align:center; 
	position: relative;
	display: inline-block;
}

.bottomnav a:hover {
    color: rgba(230, 255, 0, 0.8);
}

li{
	list-style-type: none;

}

.bottomnavbar ul{
	padding: 0;
	margin: 0;
	text-align:center; 
	position: relative;
	display: inline-block;
}
   
*/

